In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('crx.data' , header=None)

In [3]:
df.shape

(690, 16)

In [4]:
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [5]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], dtype='int64')

In [6]:
df.columns = ["A1","A2","A3","A4","A5","A6","A7","A8","A9","A10","A11","A12","A13","A14","A15","A16"]

In [7]:
df.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11',
       'A12', 'A13', 'A14', 'A15', 'A16'],
      dtype='object')

In [8]:
df.axes

[RangeIndex(start=0, stop=690, step=1),
 Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11',
        'A12', 'A13', 'A14', 'A15', 'A16'],
       dtype='object')]

In [9]:
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [11]:
import numpy as np
df=df.replace('?',np.NaN)

In [12]:
print('Number of missing values :- ')
for col in df.columns:
    print('\t%s: %d'%(col,df[col].isna().sum()))

Number of missing values :-
	A1: 12
	A2: 12
	A3: 0
	A4: 6
	A5: 6
	A6: 9
	A7: 9
	A8: 0
	A9: 0
	A10: 0
	A11: 0
	A12: 0
	A13: 0
	A14: 13
	A15: 0
	A16: 0

data type conversion of object attribute to float

In [13]:
df['A14']=df['A14'].astype(float)
df['A2']=df['A2'].astype(float)

finding out object columns and storing in object_columns variable list

In [15]:
object_columns=[col for col in df.columns if df[col].dtype=='object']

finding out numeric columns and storing in numeric_columns variable list

In [16]:
numeric_columns=[col for col in df.columns if col not in object_columns]

In [17]:
from sklearn.impute import SimpleImputer

ModuleNotFoundError: No module named 'sklearn'